table {
  width: 100%;
}

th { 
  font-size: 12px;
  border-collapse: collapse;
  border-width:3px
 }
 
td { 
  font-size: 12px;
  border-collapse: collapse;
  border-width:3px
}

#nav li {
    display: inline-block;
    text-align: center;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #069;
    border-right: 1px solid #ccc;
}

#nav li a:hover {
    color: #c00;
    text-align: center;
    background-color: #fff;
}
